@keyframes pulsar {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 576px) {
  .titulo {
    font-size: 1.7rem;
    font-weight: 500;
  }
}
.animation {
  animation: pulsar 1.2s infinite ease-in-out;
}
.circle {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  .circle-blue {
    background-color: #aac1f0;
  }
  .circle-yelow {
    background-color: #f9db78;
  }
  .circle-red {
    background-color: #ffe5e5;
  }
  .circle-gren {
    background-color: #90ee90;
  }
}
.card-title {
  font-weight: 400;
  font-size: 14px;
}
.card-value {
  font-weight: 600;
  font-size: 18px;
}
