<table
  mat-table
  [dataSource]="dataSource"
  cdkDropList
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drop($event)"
  class="mat-elevation-z8"
>
  @for(column of columnsToDisplay; track column){

  <ng-container [matColumnDef]="column">
    <th
      mat-header-cell
      cdkDrag
      *matHeaderCellDef
      [cdkDragDisabled]="column === 'action'"
    >
      {{ columnHeaders[column] || column }}
    </th>
    @if (column == 'action') {
    <td mat-cell *matCellDef="let element">
      <mat-icon
        matTooltip="Editar/Expandir"
        aria-hidden="false"
        aria-label="Deletar cadastro"
        (click)="toEdit(element)"
        class="cursor-pointer icon-color"
        >visibility</mat-icon
      >
      <mat-icon
        matTooltip="Excluir"
        aria-hidden="false"
        aria-label="Deletar cadastro"
        (click)="toDelete(element)"
        class="cursor-pointer icon-color"
        >delete</mat-icon
      >
    </td>
    }
    <td mat-cell *matCellDef="let element">
      {{ element[column] }}
    </td>
  </ng-container>
  }

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr
    class="row-focus"
    mat-row
    *matRowDef="let row; columns: columnsToDisplay"
  ></tr>
</table>
