<h2 mat-dialog-title>
  @if (data.protocolo) {
  <span
    >Registrar Dose para:
    <strong>{{ data.protocolo.felino.nome }}</strong></span
  >
  } @else {
  <span>Aplicar Nova Vacina</span>
  }
</h2>

<mat-dialog-content [formGroup]="form">
  @if (data.protocolo) {
  <div class="form-grid">
    <mat-form-field appearance="outline">
      <mat-label>Felino</mat-label>
      <input matInput [formControl]="felinoInputCtrl" readonly />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Vacina</mat-label>
      <input matInput [formControl]="vacinaInputCtrl" readonly />
    </mat-form-field>
  </div>
  } @else {
  <div class="form-grid">
    <mat-form-field appearance="outline" class="mt-2">
      <mat-label>Buscar Felino</mat-label>
      <input
        type="text"
        placeholder="Digite o nome do felino"
        matInput
        [formControl]="felinoInputCtrl"
        [matAutocomplete]="autoFelino"
      />
      <mat-autocomplete
        #autoFelino="matAutocomplete"
        [displayWith]="displayFn"
        (optionSelected)="onFelinoSelected($event)"
      >
        @for (felino of filteredFelinos$ | async; track felino.id) {
        <mat-option [value]="felino">{{ felino.nome }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" class="mt-2">
      <mat-label>Buscar Vacina no Catálogo</mat-label>
      <input
        type="text"
        placeholder="Digite o nome da vacina"
        matInput
        [formControl]="vacinaInputCtrl"
        [matAutocomplete]="autoVacina"
      />
      <mat-autocomplete
        #autoVacina="matAutocomplete"
        [displayWith]="displayFn"
        (optionSelected)="onVacinaSelected($event)"
      >
        @for (vacina of filteredVacinas$ | async; track vacina.id) {
        <mat-option [value]="vacina">{{ vacina.nome }}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </div>
  } @if (!data.protocolo) {
  <p class="mat-body-2 form-section-title">Parâmetros do Protocolo</p>
  <div class="form-grid">
    <mat-form-field appearance="outline">
      <mat-label>Doses Necessárias</mat-label>
      <input matInput type="number" formControlName="dosesNecessarias" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Intervalo (dias)</mat-label>
      <input
        matInput
        type="number"
        formControlName="intervaloEntreDosesEmDias"
      />
    </mat-form-field>
  </div>
  <mat-checkbox
    formControlName="requerReforcoAnual"
    class="full-width-checkbox"
  >
    Requer reforço anual?
  </mat-checkbox>
  <mat-divider class="form-divider"></mat-divider>
  }

  <p class="mat-body-2 form-section-title">Detalhes da Aplicação</p>
  <div class="form-grid">
    <mat-form-field appearance="outline">
      <mat-label>Laboratório</mat-label>
      <input matInput formControlName="laboratorio" required />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Lote</mat-label>
      <input matInput formControlName="lote" required />
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Veterinário Responsável</mat-label>
    <input matInput formControlName="medVet" required />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Valor Pago (R$)</mat-label>
    <input matInput type="number" formControlName="valorPago" required />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-stroked-button (click)="cancelar()">Cancelar</button>
  <button
    mat-flat-button
    color="primary"
    (click)="salvar()"
    [disabled]="form.invalid || isSaving()"
  >
    @if(isSaving()) {
    <mat-spinner diameter="20"></mat-spinner>
    } @else {
    <span>Salvar Aplicação</span>
    }
  </button>
</mat-dialog-actions>
