<h1>Gestão de Voluntários</h1>
@if(!isFormRoute){
<div class="container-fluid">
  <div class="w-25 p-3">
    <button
      mat-button
      mat-raised-button
      color="primary"
      (click)="addNewVolunteer()"
    >
      Novo Felino
    </button>
  </div>
</div>
<app-table-re-orderable-columns
  [dataSource]="(voluntarioReceiver$ | async) || []"
  [columnsToDisplay]="['nome', 'telefone', 'turno', 'action']"
  [columnHeaders]="{
    nome: 'Nome',
    telefone: 'Telefone',
    turno: 'Turno',
    action: 'Ações'
  }"
  (editElement)="toEditVolunteero($event)"
  (deleteElement)="toDeleteVolunteer($event.id)"
></app-table-re-orderable-columns>

}@else {<router-outlet></router-outlet>}
