<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="container-fluid">
    <!-- Linha para os campos normais: inputs (text, number), select e date mascarado -->
    <div class="row" *ngIf="getNonToggleAndNonTextareaFields().length > 0">
      <ng-container *ngFor="let field of getNonToggleAndNonTextareaFields()">
        <div class="col-md-6 mb-3">
          <ng-container [ngSwitch]="field.type">
            <!-- Campo do tipo select -->
            <mat-form-field
              *ngSwitchCase="'select'"
              appearance="fill"
              style="width: 100%"
            >
              <mat-label>{{ field.label }}</mat-label>
              <mat-select [formControlName]="field.name">
                <mat-option
                  *ngFor="let option of field.options"
                  [value]="option.value"
                >
                  {{ option.label }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  form.get(field.name)?.invalid &&
                  (form.get(field.name)?.dirty || form.get(field.name)?.touched)
                "
              >
                <ng-container *ngFor="let errKey of getErrorKeys(field)">
                  <span *ngIf="form.get(field.name)?.hasError(errKey)">
                    {{ field.errorMessages ? field.errorMessages[errKey] : "" }}
                  </span>
                </ng-container>
              </mat-error>
            </mat-form-field>

            <!-- Campo do tipo date com máscara (substituindo o datepicker) -->
            <mat-form-field
              *ngSwitchCase="'dateMasked'"
              appearance="fill"
              style="width: 100%"
            >
              <mat-label>{{ field.label }}</mat-label>
              <input
                matInput
                type="text"
                [formControlName]="field.name"
                placeholder="dd/mm/aaaa"
                mask="00/00/0000"
              />
              <mat-error
                *ngIf="
                  form.get(field.name)?.invalid &&
                  (form.get(field.name)?.dirty || form.get(field.name)?.touched)
                "
              >
                <ng-container *ngFor="let errKey of getErrorKeys(field)">
                  <span *ngIf="form.get(field.name)?.hasError(errKey)">
                    {{ field.errorMessages ? field.errorMessages[errKey] : "" }}
                  </span>
                </ng-container>
              </mat-error>
            </mat-form-field>

            <!-- Campo padrão para outros inputs (tipo text, number, etc.) -->
            <mat-form-field
              *ngSwitchDefault
              appearance="fill"
              style="width: 100%"
            >
              <mat-label>{{ field.label }}</mat-label>
              <input
                matInput
                [formControlName]="field.name"
                [type]="field.type"
              />
              @if (form.get(field.name)?.invalid && (form.get(field.name)?.dirty
              || form.get(field.name)?.touched)) {
              <mat-error>
                <ng-container *ngFor="let errKey of getErrorKeys(field)">
                  <span *ngIf="form.get(field.name)?.hasError(errKey)">
                    {{ field.errorMessages ? field.errorMessages[errKey] : "" }}
                  </span>
                </ng-container>
              </mat-error>
              }@else if (form.get(field.name)?.hasError('pattern')) {
              <ng-container *ngFor="let errKey of getErrorKeys(field)">
                <mat-error>
                  <span>{{
                    field.errorMessages ? field.errorMessages[errKey] : ""
                  }}</span>
                </mat-error>
              </ng-container>
              }
            </mat-form-field>
          </ng-container>
        </div>
      </ng-container>
    </div>

    <!-- Linha exclusiva para os campos do tipo textarea -->
    <div class="row" *ngIf="getTextAreaFields().length > 0">
      <ng-container *ngFor="let field of getTextAreaFields()">
        <div class="col-12 mb-3">
          <mat-form-field appearance="fill" style="width: 100%">
            <mat-label>{{ field.label }}</mat-label>
            <textarea
              matInput
              [formControlName]="field.name"
              rows="4"
            ></textarea>
            <mat-error
              *ngIf="
                form.get(field.name)?.invalid &&
                (form.get(field.name)?.dirty || form.get(field.name)?.touched)
              "
            >
              <ng-container *ngFor="let errKey of getErrorKeys(field)">
                <span *ngIf="form.get(field.name)?.hasError(errKey)">
                  {{ field.errorMessages ? field.errorMessages[errKey] : "" }}
                </span>
              </ng-container>
            </mat-error>
          </mat-form-field>
        </div>
      </ng-container>
    </div>

    <!-- Linha para os campos do tipo slide-toggle -->
    <div class="row" *ngIf="getToggles().length > 0">
      <div class="col-12">
        <div class="d-flex flex-wrap align-items-center">
          <ng-container *ngFor="let toggle of getToggles()">
            <div class="p-2" style="min-width: 200px">
              <mat-slide-toggle [formControlName]="toggle.name">
                {{ toggle.label }}
              </mat-slide-toggle>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <!-- Botão de submissão -->
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="form.invalid || form.pristine"
      class="m-2"
    >
      {{ submitLabel }}
    </button>
    <button
      type="button"
      class="m-2"
      mat-flat-button
      color="warn"
      (click)="onCancel()"
    >
      Cancelar
    </button>
  </div>
</form>
