<div class="border border-lihgt mb-4">
  <p class="page-title">Cadastro de Usuários</p>
  <div class="mb-3 d-flex justify-content-between align-items-stretch">
    <div class="w-25 p-3">
      <button
        mat-button
        mat-raised-button
        class="button-font-size button-max-width"
        color="primary"
        (click)="openDialog(false)"
      >
        Novo Cadastro
      </button>
    </div>
    <mat-form-field class="p-3 w-25">
      <mat-label>Busca rápida</mat-label>
      <input
        matInput
        placeholder="Ex. João"
        #filterInput
        (keyup)="handleFilterInput($event)"
      />
    </mat-form-field>
  </div>
</div>

<div class="border border-lihgt p-3">
  <div class="row">
    @for (usuario of pagedUsuarios(); track $index) {
    <div class="col-4">
      <app-card
        [title]="usuario.perfil"
        [subtitle]="usuario.nome"
        imageSrc="/imagens/gato.png"
      >
        <mat-divider></mat-divider>
        <div actions>
          <button
            mat-button
            color="primary"
            (click)="openDialog(true, usuario)"
          >
            Editar
          </button>
          <button mat-button color="warn" (click)="deleteUser(usuario.id)">
            Apagar
          </button>
        </div>
      </app-card>
    </div>
    }@empty {
    <p>Sem dados</p>
    }
  </div>
  <mat-paginator
    [length]="usuarios().length"
    [pageSize]="pageSize"
    [pageIndex]="currentPage()"
    (page)="onPageChange($event)"
    hidePageSize="true"
    aria-label="Selecionar página"
  >
  </mat-paginator>
</div>
