<div class="d-flex justify-content-center">
  <div class="responsive-wrapper">
    <h4 class="fw-bold mb-4">Aplicação de Vacina</h4>
    <form [formGroup]="vacinacaoForm">
      <fieldset class="position-relative border border-lihgt p-3 mb-5">
        <div
          class="position-absolute top-0 start-0 translate-middle-y mx-2 bg-light fs-4"
        >
          Identificação
        </div>
        <div class="row">
          <app-select
            class="col-12 mt-2"
            [control]="felino"
            [options]="felinos"
            label="Felino"
            optionValue="id"
            optionText="nome"
          ></app-select>
        </div>
        <div class="row">
          <app-select
            class="col-sm-6 col-12"
            [control]="vacina"
            [options]="vacinas"
            label="Vacina"
            optionValue="id"
            optionText="nome"
          ></app-select>

          <app-basic-input
            class="col-sm-6 col-12"
            [control]="lote"
            label="Lote"
            placeholder="Lote da Vacina"
            type="text"
          >
          </app-basic-input>
        </div>
      </fieldset>
      <fieldset class="position-relative border border-lihgt p-3 mb-5">
        <div
          class="position-absolute top-0 start-0 translate-middle-y mx-2 bg-light fs-4"
        >
          Detalhes da Aplicação
        </div>
        <div class="row my-2">
          <app-basic-input
            class="col-sm-6 col-12"
            [control]="medVet"
            label="Ex. Dr Paulo"
            placeholder="Médico (a) Veterinário (a)"
            type="text"
          >
          </app-basic-input>
          <app-basic-input
            class="col-sm-6 col-12"
            [control]="valorPago"
            label="Valor da Vacina"
            placeholder="Ex. R$ 50.99"
            type="text"
          >
          </app-basic-input>
        </div>
        <div class="row">
          <div
            class="col-6 d-flex align-items-center justify-content-start width-max-content"
          >
            <app-slide-toggle [control]="requerReforcoAnual"></app-slide-toggle>
            <span class="text-nowrap mx-2 mx-lg-4"> É reforço anual?</span>
          </div>
        </div>
      </fieldset>

      <fieldset class="position-relative border border-lihgt p-3">
        <div
          class="position-absolute top-0 start-0 translate-middle-y mx-2 bg-light fs-4"
        >
          Data da Aplicação
        </div>
        <div class="row my-2">
          <app-basic-input
            class="col-sm-4 col-12"
            [control]="dosesNecessarias"
            label="Doses necessárias"
            placeholder="Ex. 2"
            type="number"
          >
          </app-basic-input>
          <app-basic-input
            class="col-sm-4 col-12"
            [control]="intervaloEntreDosesEmDias"
            label="Intervalo entre doses"
            placeholder="Ex. 01/01/2024"
            hint="Para dose única deixe em branco"
            type="number"
          >
          </app-basic-input>
          <app-datepicker
            [control]="dataProximaVacina"
            label="Data da Próxima Vacina"
            class="col-12 col-sm-4"
          ></app-datepicker>
        </div>
      </fieldset>
      <div class="d-flex justify-content-sm-end gap-4 mt-4">
        <app-button
          (clicked)="onCancel()"
          text="Cancelar"
          buttonStyle="raised"
          color="warn"
        ></app-button>
        <app-button
          (clicked)="onFormSubmitted()"
          text="Salvar Aplicação"
          buttonStyle="flat"
        ></app-button>
      </div>
    </form>
  </div>
</div>
