<mat-form-field class="w-100" appearance="fill">
  <mat-label>{{ label }}</mat-label>

  <input
    matInput
    [type]="type"
    [placeholder]="placeholder"
    [formControl]="control"
    [disabled]="disable"
  />

  @if(hint){
  <mat-hint>{{ hint }}</mat-hint>
  } @if(control.invalid && (control.dirty || control.touched)){
  <mat-error>
    @if (control.hasError('required')) {
    <span>Este campo é obrigatório.</span>
    } @else if (control.hasError('email')) {
    <span>Por favor, insira um email válido.</span>
    } @else if (control.hasError('minlength')) {
    <span>
      O valor deve ter no mínimo
      {{ control.errors?.['minlength'].requiredLength }} caracteres.
    </span>
    } @else if (control.hasError('maxlength')) {
    <span>
      O valor deve ter no máximo
      {{ control.errors?.['maxlength'].requiredLength }} caracteres.
    </span>
    } @else if (control.hasError('pattern')) {
    <span>O valor pe inválido.</span>
    }
  </mat-error>
  }
</mat-form-field>
